python-telegram-bot==20.0  # Assicurati che la versione sia corretta, in base alla versione che stai utilizzando
nest_asyncio==1.5.4
asyncio==3.4.3  # Se usi asyncio, assicurati che sia compatibile con il tuo codice
